.info {
  padding: 2em 0;
  .info__text {
    width: 60%;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    span {

    } 
  }
}
